@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@font-face {
  font-family: "Magtis";
  src: url("../assets/fonts/Mgts.otf");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-Medium.ttf");
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@import "search";
@import "social-share";
@import "gallery-slider";
@import "images";
@import "toc";
@import "tab";
@import "accordion";
@import "modal";
@import "notice";

@import "module-overrides";
@import "custom";
