{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 mb-8 text-center">
            <h1 class="mb-4">
              {{ .title | markdownify }}
            </h1>
            <h4 class="mb-8">
              {{ .content | markdownify }}
            </h4>
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto rounded-2xl" "Size" "1200x") }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->
{{ end }}
